<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$LivevoxAPI</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://livevoxapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bf7b256e-d80d-4380-a963-d8bdace17178/resourcegroups/rg-dialer/providers/Microsoft.Web/sites/LivevoxAPI</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://livevoxapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>